<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492430545955-2q9tbkjsviohbgdkecmdmq3cbsk2af01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492430545955-2q9tbkjsviohbgdkecmdmq3cbsk2af01</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>492430545955-4cguak8lk6246immrigaeusf6qae1ou3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJTxXtem_GWuGKogKytN0hOsdaYmfzsHU</string>
	<key>GCM_SENDER_ID</key>
	<string>492430545955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iexcellence.hr.wecheck</string>
	<key>PROJECT_ID</key>
	<string>coastal-stone-341712</string>
	<key>STORAGE_BUCKET</key>
	<string>coastal-stone-341712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492430545955:ios:8e51951bc03c0a09978d96</string>
</dict>
</plist>